<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Log In</h2>

    <form action="/login" method="post">
        <!-- Input field for userName -->
        <input type="text" name="userName" placeholder="Username">
        <!-- Input field for password -->
        <input type="password" name="password" placeholder="Password">
        <!-- Submit button -->
        <input type="submit">
    </form>
    <!-- Reset password button -->
    <a href="/forgot-password">Forgot password</a>
    <!-- Link to signup page -->
    <a href="/signup"> Signup your account </a>

</body>
</html>