<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Name"> <!-- User's name input -->
        <input type="password" name="password" placeholder="Password"> <!-- User's password input -->
        <input type="password" name="confirmPassword" placeholder="Confirm Password"> <!-- Confirm password input -->
        <input type="text" name="email" placeholder="Email"> <!-- User's email input -->
        <input type="text" name="age" placeholder="Age"> <!-- User's age input -->
        <input type="text" name="lastName" placeholder="LastName"> <!-- User's last name input -->
        <input type="text" name="companyName" placeholder="CompanyName"> <!-- User's company name input -->
        <input type="text" name="phone" placeholder="Phone"> <!-- User's phone number input -->
        <input type="submit"> <!-- Submit button -->
    </form>
</body>
</html>